@model Mono.Security.X509.X509Certificate
@section title {
Certificate
}
@section subtitle {
    @Model.SubjectName
}
@section operations
{
    <div class="btn-group">
        <a class="btn" href="@Url.Action("Download", new { id = ViewBag.Serial })">Download</a>
    </div>
    <div class="btn-group">
        <a class="btn" href="@Url.Action("Index")">Back</a>
    </div>
}
<pre>@ViewBag.ASN1TextTree</pre>