@model IEnumerable<WebCA.Frontend.CertificateKeyManager.SerialListEntry>
@section title {
Certificates
}
@section operations {
    <div class="btn-group">
        <a href="@Url.Action("Create")" class="btn">Create new certificate</a>
    </div>
}
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Issued at
            </th>
            <th>
                Not before
            </th>
            <th>
                Not after
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var certificate in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(certificate.SubjectName, "Details", new { id = certificate.SerialNumber.Replace(":", "") })
                </td>
                <td>
                    @certificate.NotBefore
                </td>
                <td>
                    @certificate.NotAfter
                </td>
            </tr>
        }
    </tbody>
</table>